body {
    padding-bottom: 50px;
    overflow-x: hidden;
}

main {
    padding: 0 !important;
}

.img-center {
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-1 {
    z-index: 0;
    height: 80vh;
    background-image: url('../img/banner-1.png');
    position: relative;
    border-bottom: 20px solid #F18948;
}

.informations {
    width: auto;
    background-color: #FFF;
    position: absolute;
    left: 25px;
    top: 25px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & h1 {
        font-size: 40px;
        font-weight: bold
    }

    & p {
        font-size: 20px;
    }
    
    & .row {
        & .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
        & .icons-banner-1 {
            max-width: 30px;
        }
    
        & p {
            font-size: 13px;
            font-weight: bold;
            color: #F18948;
        }
    }
}

/* ADVANTAGES */
#payPlate {
    color: #F18948;
}

.card--advantages{
    padding: 30px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    & .card-img {
        width: 60px;
        justify-content: center;
    }
}

/* DEMO */

.demo {
    border-top: 20px solid #F18948;
    height: 75vh;
    background-image: url(../img/demo.png);
    position: relative;
    border-bottom: 20px solid #F18948;
    & .card-demo {
        width: auto;
        background-color: #FFF;
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 35px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 20px;

        & h1 {
            font-size: 32px;
            font-weight: bold;
        }
        & h3 {
            font-size: 24px;
            font-weight: normal;
        }
        & img {
            width: 45px;
        }
        & p {
            font-size: 16px;
            color: #F18948;
        }
    }
}

/* SUBSCRIPTION */
.subscription {
    background-color: #F9EBDE;
    border-bottom: 20px solid #F18948;
    & .card-subscription-plan {
        border-radius: 20px;
        gap: 25px;
        padding: 25px;
        & .first-row {

            & img {
                width: 45px;
            }

            & p {
                font-size: 12px;
                font-weight: bold;
                text-align: end;
                margin-bottom: 0;
                color: #F18948;
            }
        }

        & h3 {
            font-size: 22px;
            text-align: start;
            font-weight: bold;
        }

        & p {
            font-size: 15px;
        }

        & .second-row {
            color: #F18948;
            & #plan-price {
                font-size: 30px;
                font-weight: bold;

                & #month {
                    font-size: 15px;
                }
            }

            & p {
                margin-bottom: 0;
                font-weight: bold;
                color: black;
            }
        }

        & ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            & li {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 14px;

                & img {
                    width: 16px;
                    height: 15px;
                }
            }
        }
    }
}

/* FREQUENTLY ASKED QUESTIONS */
.frequently-asked {
    background-color: #F9EBDE;
    & .container {
        & .accordion {
            display: flex;
            flex-direction: column;
            gap: 20px;

            & .accordion-item {
                border-radius: 15px !important;
                padding: 7px;
                box-shadow: 7px 10px 18px -10px rgba(0,0,0,0.75);

                & .accordion-button {
                    border-radius: 10px;
                }

                & .accordion-button:not(.collapsed) {
                    background-color: rgba(232, 232, 232, 0.629) !important;
                }
                & .accordion-button:focus {
                    box-shadow: none;
                }
            }
            & .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
                border-bottom-right-radius:10px;
                border-bottom-left-radius: 10px;            
            }
        }
    }
}