body {
    overflow-x: hidden;
}

main {
    padding: 0 !important;
}

.img-center {
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-1 {
    z-index: 0;
    height: 80vh;
    background-image: url('../img/banner-1.png');
    position: relative;
    border-bottom: 20px solid #F18948;
}

.informations {
    width: auto;
    background-color: #FFF;
    position: absolute;
    left: 25px;
    top: 25px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & h1 {
        font-size: 40px;
        font-weight: bold
    }

    & p {
        font-size: 20px;
    }

    & .row {
        & .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }

        & .icons-banner-1 {
            max-width: 30px;
        }

        & p {
            font-size: 13px;
            font-weight: bold;
            color: #F18948;
        }
    }
}

/* ADVANTAGES */
#payPlate {
    color: #F18948;
}

.card--advantages {
    padding: 30px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

    & .card-img {
        width: 60px;
        justify-content: center;
    }
}

/* DEMO */
.demo {
    border-top: 20px solid #F18948;
    height: 80vh;
    background-image: url(../img/demo.png);
    position: relative;
    border-bottom: 20px solid #F18948;

    & .card-demo {
        width: auto;
        background-color: #FFF;
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 35px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 20px;

        & h1 {
            font-size: 32px;
            font-weight: bold;
        }

        & h3 {
            font-size: 24px;
            font-weight: normal;
        }

        & img {
            width: 45px;
        }

        & p {
            font-size: 16px;
            color: #F18948;
        }
    }
}

/* SUBSCRIPTION */
.subscription {
    background-color: #F9EBDE;
    border-bottom: 20px solid #F18948;

    & .card-subscription-plan {
        border-radius: 20px;
        gap: 25px;
        padding: 25px;

        & .first-row {

            & img {
                width: 45px;
            }

            & p {
                font-size: 12px;
                font-weight: bold;
                text-align: end;
                margin-bottom: 0;
                color: #F18948;
            }
        }

        & h3 {
            font-size: 22px;
            text-align: start;
            font-weight: bold;
        }

        & p {
            font-size: 15px;
        }

        & .second-row {
            color: #F18948;

            & #plan-price {
                font-size: 30px;
                font-weight: bold;

                & #month {
                    font-size: 15px;
                }

                & #offer {
                    font-size: 15px;
                    font-weight: bold;
                    color: black;
                    margin-left: 15px;
                }
            }
        }

        & ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & li {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 14px;

                & img {
                    width: 16px;
                    height: 15px;
                }
            }
        }
    }
}

/* FREQUENTLY ASKED QUESTIONS */
.frequently-asked {
    background-color: #F9EBDE;

    & .container {
        & .accordion {
            display: flex;
            flex-direction: column;
            gap: 20px;

            & .accordion-item {
                border-radius: 15px !important;
                padding: 7px;
                box-shadow: 7px 10px 18px -10px rgba(0, 0, 0, 0.75);

                & .accordion-button {
                    border-radius: 10px;
                }

                & .accordion-button:not(.collapsed) {
                    background-color: rgba(232, 232, 232, 0.629) !important;
                }

                & .accordion-button:focus {
                    box-shadow: none;
                }
            }

            & .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
    }
}

/* FOOTER */
#footer {
    background-color: #F9EBDE;
    border-bottom: 20px solid #F18948;
    padding-bottom: 30px;

    & h3 {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    & a {
        color: red;
    }
}

/* MEDIA QUERIES */
@media (max-width: 560px) {
    .informations {
        & h1 {
            font-size: 25px;
        }

        & p {
            font-size: 15px;
        }

        & .row {
            & .col {
                & .icons-banner-1 {
                    max-width: 20px;
                }

                & p {
                    font-size: 10px;
                }
            }
        }
    }

    .card--advantages {
        & p {
            font-size: 13px;
        }
    }

    .demo {
        .card-demo {
            & h1 {
                font-size: 20px;
            }

            & h3 {
                font-size: 20px;
            }

            & p {
                width: auto;
                font-size: 12px;
            }
        }
    }

    .subscription {
        & .card-subscription-plan {
            & .second-row {
                & #plan-price {
                    font-size: 25px;
                }
            }
        }
    }
}

@media (max-width: 462px) {
    .informations {
        margin-right: 30px;

        & p {
            font-size: 15px;
        }

        & .row {
            & .col {
                & p {
                    font-size: 10px;
                    width: auto;
                }
            }
        }
    }

    .demo {
        height: 90vh;

        & .card-demo {
            margin-right: 30px;
        }
    }

    .subscription {
        & .card-subscription-plan {
            & .second-row {
                & #plan-price {
                    font-size: 20px;

                    & #offer {
                        font-size: 12px;
                    }
                }
            }

            & ul {
                & li {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .subscription {
        & .card-subscription-plan {
            & h3 {
                font-size: 18px;
            }

            & p {
                font-size: 12px;
            }
        }
    }   
}